/**
* This file is part of EBS-Core Breeding.
* EBS-Core Breeding is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* EBS-Core Breeding is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with EBS-Core Breeding.  If not, see <http://www.gnu.org/licenses/>
*/
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 88%;
    background-color: #f1f4f5;
    height: auto;
}

.modal {
    background-color: transparent; 
    max-height: 100%;
    width: 100%; 

}

.modal .modal-content {
    padding: 0px; 
    border-radius: 2px;
    border: none;
}

.modal-body {
    padding: 10px 30px 10px 30px;
    max-height: 550px;
    overflow-y: auto;
    background-color: #f1f4f5 !important;
}

.modal-header {
    padding: 15px 15px 0px 15px;
}

.modal-dialog.modal-xl{
    width: 90% !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
}

textarea.materialize-textarea {
    padding: 0; 
}

.alert{
    padding: 0px;
    margin-bottom: 0px;
}

.card-panel{
    padding:15px;
}

.alert.success > .card-panel {
    background: #dcedc8;
    color: #689f38;
}

.alert.error > .card-panel {
    background: #ffcdd2;
    color: #F44336;
}
.alert.warning > .card-panel {
    background: #fff9c4;
    color: #827717;
}

.alert.info > .card-panel {
    background: #d9edf7;
    color: #31708f;
}

span.badge {
    margin-left: 0px; 
    float: none;
}

span.badge.new:after {
    content: "";
}

.container {
    width:100%;
    max-width: none;
    padding: 10px 15px 0px 15px;
}

.nav-extended ~.container {
    padding: 60px 15px 0px 15px;
}

.fixed-side-nav .container {
    padding: 55px 15px 0px 265px;
}

.fixed-side-nav .nav-extended ~.container {
    padding: 75px 15px 0px 265px;
}

.fixed-side-nav .nav-extended .nav-content {
    padding-left: 250px;
}

.fixed-side-nav .side-nav {
    top: 65px;
    width: 250px;
    padding-bottom: 170px;
}

nav#top-nav-bar{
    top:0;
    position: fixed;
    z-index: 998;
}

.progress{
    z-index: 999;
}

#search-bar-input-nav .nav-wrapper{
    z-index: 1000;
}

#help-search-btn{
    right: 3.1rem;
    opacity: 0.4;
}
.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons {
    color: inherit;
}
#help-search-btn:hover{
    opacity: 1;
}

input[type="checkbox"], input[type="radio"] {
    opacity: 1;
}

/*[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 1;
}*/

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out; 
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out; 
    -webkit-transform: translate(0, 0%); 
    -ms-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    transform: translate(0, 0%); 
}

.modal-backdrop {
    z-index: 1000;
}

.btn i.glyphicon, .btn span.glyphicon{
    font-size: 0.85rem;
    line-height: inherit;
}

.btn, .btn-flat {
    font-size: 0.9rem;
    outline: 0;
    padding: 0 1.5rem;
    height: 32px;
    line-height: 32px;
}

.btn, .btn-large, .btn-flat {
    font-size: 0.9rem;
    outline: 0;
    height: 32px;
    line-height: 32px;
}

i.right {
    margin-left: 8px;
}

.input-group.date .input-group-addon {
    cursor: default;
    display: none;
}

h3 {
    font-size: 1.7rem;
    margin: 0.6rem 0 0.6rem 0;
}
h4{
    font-size: 1.4rem;
}
h5{
    font-size: 1.1rem;
    font-weight: bold;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 90%; 
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: transparent; 
    border: none; 
    border-radius: 4px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    margin: 0 0 10px 0;
}

.required > label:after{
    content: " *"
}

.export-full-csv > .text-primary{
    color: #337ab7;
}

.btn-group.pull-right > .btn-group > .dropdown-menu{
    right:0;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a; 
}

.fa {
    font: normal normal normal 17px/1 FontAwesome;
}
.panel-default > .panel-heading {
    padding: 1px 15px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 3px 8px !important;
}
.collapsible-body {
    padding: 1rem;
}
.collapsible-header i {
    width: 0.5rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}

nav a:hover{
    text-decoration: none;
    color: #fff;
}

nav .brand-logo {
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 20px;
}

nav i.material-icons {
    font-size: 150%;
}

.fixed-side-nav #search-bar-input-nav{
    left:250px;
}

.fixed-side-nav #close-search-btn{
    right: 265px;
    color:#bbb;
}

.material-icons {
    font-family: 'Material Icons Round';
}

#search{
    padding-left: 2rem !important;
}

@media only screen and (max-width: 992px){
    nav .brand-logo {
        display: none;
    }
    .menu-item-filters {
        display: none;
    }
    .menu-item-start {
        margin-left: 0px !important;
    }
    #search-bar-input-nav{
        left:0px;
        padding: 0 5px;
    }
    #search-bar-input-nav #search-bar-row {
        position: relative;
        color: #000;
        display: flex;
        align-items: center;
        height: 55px;
    }
    .fixed-side-nav #search-bar-input-nav #search-bar-row {
        top: 0px;
        left: 0px;
        position: relative;
        color: #000;
        display: flex;
        align-items: center;
        height: 55px;
    }
    #search-bar-input {
        height: 32px;
    }
    #nav-search-bar-entity-select + .select2 .selection .select2-selection{
        height: 50px;
        border-bottom: 1px solid #9e9e9e;
    }
    #nav-search-bar-search-btn {
        padding: 0 0.5rem !important;
    }
    #close-search-btn{
        right: 5px;
    }
}


@media only screen and (min-width: 1200px){
    html {
        font-size: 85%;
    }
}

@media only screen and (min-width: 992px){
    html {
        font-size: 85%;
    }
    #search-bar-input-nav #search-bar-row {
        position: relative;
        color: #000;
        display: flex;
        align-items: center;
        height: 55px;
    }
    .fixed-side-nav #search-bar-input-nav #search-bar-row {
        top: -50px;
        left: -250px;
        position: relative;
        color: #000;
        display: flex;
        align-items: center;
        height: 55px;
    }
    #search-bar-input {
        height: 35px;
    }
    #nav-search-bar-entity-select + .select2 .selection .select2-selection{
        height: 56px;
        border-bottom: 1px solid #9e9e9e;
    }
    #nav-search-bar-search-btn {
        padding: 0 0.5rem !important;
    }
}

@media only screen and (max-width: 500px){
    .hide-in-mobile {
        display: none;
    }
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 0.85rem;
    padding: 10px 16px;
}

.dropdown-content li>a>i {
    margin: 0px;
}

.dropdown-content li {
    min-height: 40px;
    overflow: hidden;
}

ul.dropdown-content a:hover {
    color: #26a69a;
}

ul.dropdown-content a:active {
    color: #26a69a;
}

.dropdown-content{
    overflow: visible !important;
}
a:hover, a:focus {
    text-decoration: none; 
    color: inherit;
}
@media only screen and (min-width: 993px){
    nav a.button-collapse{
        display: block;
    }
}

nav .button-collapse {
    margin: 0;
}

.side-nav li>a {
    font-size: 0.9rem;
    padding: 0px 20px;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 41px;
    font-weight: 400;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    float: left;
    height: 48px;
    margin: 0 7px 0 0;
}

.test {
    opacity: 0.9;
}

.side-nav .user-view, .side-nav .userView {
    background: -webkit-gradient(to bottom, rgba(35,37,38,10) 0%,rgba(65,67,69,0.4) 0%);
    background: -webkit-linear-gradient(to bottom, rgba(35,37,38,10) 0%,rgba(65,67,69,0.4) 0%);
    background: linear-gradient(to bottom, rgba(35,37,38,10) 0%,rgba(65,67,69,0.4) 0%);
}

.body-container{
    animation: SHW .5s linear;
    /*animation-fill-mode: both;*/
}
@-webkit-keyframes SHW {
    from {
        top: 100px;
        opacity:0;
    }
    to {
        top: 0px;
        opacity:1;
    }
}

.rosegold.darken-1 {
    background-color: #ee6e73 !important;
}

.rosegold-text.text-darken-1 {
    color: #ee6e73 !important;
}

#search-bar-input-nav{
    -webkit-transform-origin:0px 0px;
}

#search-bar-input-nav.active{
    animation: flip-in .5s ease-in-out;
}

@-webkit-keyframes flip-in {
     0%{
        background-position: 5px -80px;
        -webkit-transform:scaleY(0);
    }
    75% {
        background-position: 5px -80px;
        -webkit-transform:scaleY(1);
    }
    100% {
        background-position: 5px 5px;
    }    
}
/* for left menu */
.left-menu-next-icon{
    float:right !important;
    opacity: 0;
}

.parent-menu:hover .left-menu-next-icon{
    opacity: 1;
}

.sub-parent-menu{
    display:none;
}

.parent-menu.remove-active,.families-table.remove-active, .parent-panel.slide-out-parent{
    animation: slide-out 0.3s forwards;
    -webkit-animation: slide-out 0.3s forwards;
}

.sub-parent-menu.remove-active,.progenies-table.remove-active, .child-panel.slide-in-child{
    animation: slide-in 0.2s forwards;
    -webkit-animation: slide-in 0.2s forwards;
}

.parent-menu.removes-active,.families-table.removes-active, .parent-panel.slide-in-parent{
    animation: slide-in-r 0.3s forwards;
    -webkit-animation: slide-in-r 0.3s forwards;
}

.sub-parent-menu.removes-active,.progenies-table.removes-active .child-panel.slide-out-child{
    animation: slide-out-r 0.3s forwards;
    -webkit-animation: slide-out-r 0.3s forwards;
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
    
@keyframes slide-in {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-in-r {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes slide-in-r {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out-r {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

@-webkit-keyframes slide-out-r {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

/* end for left menu */

.bold{
    font-weight: 700 !important;
}

.progress{
    z-index: 5;
}

.theme-deep-purple .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-deep-purple .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-deep-purple .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-deep-purple .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-deep-purple .progress .indeterminate, .theme-deep-purple .progress .determinate, .theme-deep-purple nav, .theme-deep-purple .side-nav .user-view, .theme-deep-purple .dashboard-widget-item-theme-color div, .theme-deep-purple .item-theme-color, .theme-deep-purple .dataset-color-theme{
    background-color: #512da8 !important;
}

.theme-deep-purple .progress{
    background-color: #8a80a5;
}

.theme-rosegold .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-rosegold .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-rosegold .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-rosegold .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-rosegold .progress .indeterminate, .theme-rosegold .progress .determinate, .theme-rosegold nav, .theme-rosegold .side-nav .user-view, .theme-rosegold .dashboard-widget-item-theme-color div, .theme-rosegold .item-theme-color, .theme-rosegold .dataset-color-theme{
    background-color: #ee6e73 !important;
}

.theme-rosegold .progress{
    background-color: #efcdce;
}

.theme-blue .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-blue .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-blue .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-blue .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-blue .progress .indeterminate, .theme-blue .progress .determinate, .theme-blue nav, .theme-blue .side-nav .user-view, .theme-blue .dashboard-widget-item-theme-color div, .theme-blue .item-theme-color, .theme-blue .dataset-color-theme{
    background-color: #1565C0 !important;
}

.theme-blue .progress{
    background-color: #cadbe8;
}

.theme-green .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-green .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-green .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-green .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-green .progress .indeterminate, .theme-green .progress .determinate, .theme-green nav, .theme-green .side-nav .user-view, .theme-green .dashboard-widget-item-theme-color div, .theme-green .item-theme-color, .theme-green .dataset-color-theme{
    background-color: #2E7D32 !important;
}

.theme-green .progress{
    background-color: #cee4b5;
}

.theme-teal .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-teal .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-teal .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-teal .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-teal .progress .indeterminate, .theme-teal .progress .determinate, .theme-teal nav, .theme-teal .side-nav .user-view, .theme-teal .dashboard-widget-item-theme-color div, .theme-teal .item-theme-color, .theme-teal .dataset-color-theme{
    background-color: #009688 !important;
}

.theme-orange .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-orange .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-orange .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-orange .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-orange .progress .indeterminate, .theme-deep-orange .progress .determinate, .theme-orange nav, .theme-orange .side-nav .user-view, .theme-orange .dashboard-widget-item-theme-color div, .theme-orange .item-theme-color, .theme-orange .dataset-color-theme{
    background-color: #ef6c00 !important;
}

.theme-orange .progress{
    background-color: #daccb7;
}

.theme-blue-grey .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-blue-grey .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-blue-grey .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-blue-grey .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-blue-grey .progress .indeterminate, .theme-blue-grey .progress .determinate, .theme-blue-grey nav, .theme-blue-grey .side-nav .user-view, .theme-blue-grey .dashboard-widget-item-theme-color div, .theme-blue-grey .item-theme-color, .theme-blue-grey .dataset-color-theme{
    background-color: #455a64 !important;
}

.theme-blue-grey .progress{
    background-color: #b7d4e2;
}

.theme-red .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-red .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-red .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-red .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-red .progress .indeterminate, .theme-red .progress .determinate, .theme-red nav, .theme-red .side-nav .user-view, .theme-red .dashboard-widget-item-theme-color div, .theme-red .item-theme-color, .theme-red .dataset-color-theme{
    background-color: #E53935 !important;
}

.theme-red .progress{
    background-color: #efd1cf;
}

.theme-light-green .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-light-green .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-light-green .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-light-green .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-light-green .progress .indeterminate, .theme-light-green .progress .determinate, .theme-light-green nav, .theme-light-green .side-nav .user-view, .theme-light-green .dashboard-widget-item-theme-color div, .theme-light-green .item-theme-color, .theme-light-green .dataset-color-theme{
    background-color: #558b2f !important;
}

.theme-light-green .progress{
    background-color: #c2dca5;
}

.theme-light-blue .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-light-blue .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-light-blue .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-light-blue .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-light-blue .progress .indeterminate, .theme-light-blue .progress .determinate, .theme-light-blue nav, .theme-light-blue .side-nav .user-view, .theme-light-blue .dashboard-widget-item-theme-color div, .theme-light-blue .item-theme-color, .theme-light-blue .dataset-color-theme{
    background-color: #0277bd !important;
}

.theme-light-blue .progress{
    background-color: #b4d0e6;
}

.theme-cyan .btn:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-cyan .btn-floating:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success), 
.theme-cyan .btn-large:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-cyan .btn-flat:not(.teal):not(.pink):not(.pink):not(.blue):not(.grey):not(.green):not(.orange):not(.blue-grey):not(.red):not(.rosegold):not(.deep-purple):not(.light-green):not(.light-blue):not(.cyan):not(.btn-danger):not(.btn-warning):not(.btn-info):not(.btn-success),
.theme-cyan .progress .indeterminate, .theme-cyan .progress .determinate, .theme-cyan nav, .theme-cyan .side-nav .user-view, .theme-cyan .dashboard-widget-item-theme-color div, .theme-cyan .item-theme-color, .theme-cyan .dataset-color-theme{
    background-color: #00838f !important;
}

.theme-cyan .progress{
    background-color: #ade0e6;
}

a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab) {
    color: #00695c !important;
}

.theme-deep-purple .theme-font-color, .theme-deep-purple a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab) , .theme-deep-purple .side-nav li>a>i, .theme-deep-purple .side-nav li>a>i.material-icons,
.theme-deep-purple .dropdown-content li>a, .theme-deep-purple .theme-color {
    color: #512da8 !important;
}

.theme-pink .theme-font-color, .theme-pink a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-pink .side-nav li>a>i, .theme-pink .side-nav li>a>i.material-icons,
.theme-pink .dropdown-content li>a, .theme-pink .theme-color {
    color: #d81b60 !important;
}

.theme-blue .theme-font-color, .theme-blue a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-blue .side-nav li>a>i, .theme-blue .side-nav li>a>i.material-icons,
.theme-blue .dropdown-content li>a, .theme-blue .theme-color {
    color: #1565C0 !important;
}

.theme-light-blue .theme-font-color, .theme-light-blue a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-light-blue .side-nav li>a>i, .theme-light-blue .side-nav li>a>i.material-icons,
.theme-light-blue .dropdown-content li>a, .theme-light-blue .theme-color {
    color: #0277bd !important;
}

.theme-green .theme-font-color, .theme-green a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-green .side-nav li>a>i, .theme-green .side-nav li>a>i.material-icons,
.theme-green .dropdown-content li>a, .theme-green .theme-color {
    color: #2E7D32 !important;
}

.theme-light-green .theme-font-color, .theme-light-green a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-light-green .side-nav li>a>i, .theme-light-green .side-nav li>a>i.material-icons,
.theme-light-green .dropdown-content li>a, .theme-light-green .theme-color {
    color: #33691e !important;
}

.theme-teal .theme-font-color, .theme-teal a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-teal .side-nav li>a>i, .theme-teal .side-nav li>a>i.material-icons, 
.theme-teal .dropdown-content li>a, .theme-teal .theme-color {
    color: #00695c !important;
}

.theme-orange .theme-font-color, .theme-orange a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-orange .side-nav li>a>i, .theme-orange .side-nav li>a>i.material-icons,
.theme-orange .dropdown-content li>a, .theme-orange .theme-color {
    color: #e65100 !important;
}

.theme-blue-grey .theme-font-color, .theme-blue-grey a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-blue-grey .side-nav li>a>i, .theme-blue-grey .side-nav li>a>i.material-icons,
.theme-blue-grey .dropdown-content li>a, .theme-blue-grey .theme-color {
    color: #455a64 !important;
}

.theme-red .theme-font-color, .theme-red a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-red .side-nav li>a>i, .theme-red .side-nav li>a>i.material-icons,
.theme-red .dropdown-content li>a, .theme-red .theme-color {
    color: #B71C1C !important;
}

.theme-rosegold .theme-font-color, .theme-rosegold a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-rosegold .side-nav li>a>i, .theme-rosegold .side-nav li>a>i.material-icons,
.theme-rosegold .dropdown-content li>a, .theme-rosegold .theme-color {
    color: #e2484e !important;
}

.theme-light-green .theme-font-color, .theme-light-green a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-light-green .side-nav li>a>i, .theme-light-green .side-nav li>a>i.material-icons,
.theme-light-green .dropdown-content li>a, .theme-light-green .theme-color {
    color: #33691e !important;
}

.theme-cyan .theme-font-color, .theme-cyan a:not(.btn):not(.dropdown-button):not(.brand-logo):not(.in-nav):not(.search-tabs):not(.fixed-color):not(.a-tab), .theme-cyan .side-nav li>a>i, .theme-cyan .side-nav li>a>i.material-icons,
.theme-cyan .dropdown-content li>a, .theme-cyan .theme-color {
    color: #00838f !important;
}

.tabs-vertical .tabs {
    height: auto !important;
    -ms-flex-direction: column !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
    display: -webkit-flex !important;
    display: flex !important;
}

.tabs-vertical li a.active {
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    transition: border-color .5s ease;
    border-right: 2px solid #f6b2b5;
}

.tabs-vertical .tab {
    width: 100% !important;
    text-align: left;
}

.tabs-vertical .tab a{
    color: rgba(238,110,115,0.7) !important;
}

.tabs-vertical .indicator {
    display: none;
}

.tabs-vertical .tabs > li > a.active {
    border-bottom: none;
}

.dark-side-nav .side-nav{
    background-color: #262933; /*#263238;*/
}

.dark-side-nav .side-nav li>a, .dark-side-nav .side-nav li>a>i, .dark-side-nav .side-nav li>a>i.material-icons{
    color: rgba(178,175,183,1) !important;
}

.dark-side-nav .side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    background-color: inherit;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aeaeae;
}

.fixed-side-nav .always-show-left-nav{
    display: none;
}

body:not(.fixed-side-nav) .always-show-left-nav {
    display: block;
    margin-top: 10px;
}

.fixed-side-nav .always-hide-left-nav {
    position: fixed;
    left: 216px;
    bottom: 50px;
    z-index: 1000;
}

.fixed-side-nav .always-hide-left-nav > i,.always-show-left-nav > i{
    border-radius: 4px 0px 0px 4px;
    padding: 5px;
    background: rgba(0,0,0,0.05);
}

.fixed-side-nav .side-nav-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 250px;
    z-index: 1000;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.14);
    font-weight: 500;
}

.dark-side-nav.fixed-side-nav .side-nav-footer {
    background-color: #262933; /*#263238;*/
}

.fixed-side-nav .side-nav-footer span{
    cursor: default;
    line-height: 45px;
    padding: 0 9px;
}

.dark-side-nav.fixed-side-nav .side-nav-footer span{
    color: rgba(178,175,183,1) !important;
}

.side-nav .divider {
    margin: 0;
}
/*.caret{
    border-top: 0;
}*/

.select-wrapper+label {
    top: -35px;
}

.widget-icons{
    font-size: 1.3rem;
}

.metrics-icon{
    font-size: 250%;
    line-height: 1.5;
}

.with-padding{
    margin: 2px 10px;
}

nav ul a {
    padding: 0 10px;
}

a.favorite-a-tool-icon{
    opacity: 0.5;
}

a.favorite-a-tool-icon:hover{
    opacity: 1;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

.tabs > li > a.active{
    border-bottom: 2px solid #f6b2b5;
}

.tabs > li > a:hover,.tabs > li > a{
    text-decoration:none;
}

.view-entity-content.active,.a-tab.active{
    animation: SHW .5s linear;
    animation-fill-mode: both;
}
@-webkit-keyframes SHW {
    from {
        top: 100px;
        opacity:0;
    }
    to {
        top: 0px;
        opacity:1;
    }
}
.container .row {
    margin-left: 0;
    margin-right: 0;
}
.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin: 0;
}
.side-nav li.select2-search,.select2-search .select2-search--inline,
li.select2-selection__choice, .select2-container--krajee .select2-selection--multiple .select2-selection__choice{
    line-height: inherit !important;
}
.select2-search--dropdown .select2-search__field {
    height: 2rem !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__clear {
    right: 2rem;
    position: absolute !important;
}
.select2-container--krajee .select2-selection--single .select2-selection__rendered {
    padding-left: 8px;
    padding-right: 20px;
}

@media only screen and (max-width: 992px){
    .side-nav.fixed {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.sortable.grid li {
    min-width: 70px !important;
}

html.font-size-smallest{
    font-size: 65% !important;
}

html.font-size-smaller{
    font-size: 75% !important;
}

html.font-size-normal{
    font-size: 88% !important;
}

html.font-size-larger{
    font-size: 95% !important;
}

html.font-size-largest{
    font-size: 105% !important;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title, .box-title{
    font-size: 168%;
}

.yii1Frame{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.item-main-menu-filters{
    padding: 10px;
    cursor: default !important;
}

.item-main-menu-filters th{
    vertical-align: top;
}

.collection .collection-item.avatar .title {
    font-size: 100%;
}

.collection .collection-item.avatar .tex-muted {
    font-size: 900%;
}

.dark-side-nav .side-nav li.active {
    background-color: rgba(0,0,0,0.2);
}

ul#current-filters{
    max-height: 400px;
    overflow: auto !important;
}

.filters-title-menu{
    padding: 10px 5px !important;
    font-weight: bold;
}

.main-page-footer{
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 250px;
    padding-left: 5px;
    margin-left: -5px;
    width: 100%;
    color: #555;
    background-color: #f1f4f5;
    z-index: 999;
}

@media only screen and (max-width: 992px){
    .main-page-footer{
        position: relative;
        height: 20px;
    }
}

.main-page-footer span {
    cursor: default;
    line-height: 45px;
    color: #777;
}

.main-page-footer span a{
    color: #777;
    text-decoration: underline;
}

.txt-color-orangeDark {
    color: #a57225!important;
}
.kv-thead-float{
    z-index: 500 !important;
}

.required > label:after, .required {
    color: red !important;
}

td [type="checkbox"]+label {
    height: 15px !important;
    margin-top: 3px;
    line-height: 15px !important;
}

.panel {
    border-radius: 2px !important;
    border: 0px;
    
}

.tabs .tab a:hover, .tabs .tab a.active {
    font-weight: bold !important;
}

.tabs .tab a.active.filled-in {
    background-color: #ee6e731c !important;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    text-transform: uppercase;
}

.collapsible-header {
    font-weight: bold !important;
}

.dynagrid-reset{
    display: none;
}

.kv-panel-before {
    padding-right: 0px !important;
}

.panel-default > .panel-heading {
    background-color: #fff;
}

.panel-default > .panel-heading {
    padding: 1px 10px;
}

.panel-footer {
    background-color: #fff;
    border-top: 1px solid #fff;
}

.pagination > li > a, .pagination > li > span {
    border: 0px; 
}

.pagination li a {
    font-size: 0.9rem;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #eee;
    font-weight: bold;
}

.panel-default > .panel-heading {
    border-color: #fff; 
}
.panel-heading .summary{
    margin-top: 15px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    font-size: inherit;
}

textarea.white{
    background-color: white;
}
.nav > li > a {
    padding: 10px 10px;
}

.in-circle {
    display: inline-block;
    font-size: 16px;
    line-height: 35px;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    -webkit-border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.not-allowed {
    cursor: not-allowed;
}

.grid-view .summary {
    text-align: right;
}

input[readonly], input[disabled], .disabled{
    cursor: not-allowed !important;
}

.modal-close-button {
    margin: 14px 25px 0px 0px;
    display: inline-block;
}

.no-padding-right {
    padding-right: 0px;
}

.inline-material-icon {
    font-size: 120% !important;
    vertical-align: sub !important;
}

.with-margin-top {
    margin-top: 7px;
}

.with-margin-bottom {
    margin-bottom: 10px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent !important;
}

.bootstrap-dropdown {
    cursor: pointer;
}

.bootstrap-dropdown a{
    min-height: 40px;
    line-height: 2.5rem !important;
    font-size: 90%;
    border-radius: 2px !important;
}

.bootstrap-dropdown ul{
    border-radius: 2px !important;
    padding: 0 !important;
}

.germplasm-name-col {
    min-width: 100px;
    overflow-wrap: break-word !important;
    max-width: 150px;
    white-space: normal !important;
}

.kv-loader-overlay{
    z-index: 1200;
}

.kv-loader-overlay{
    z-index: 1200;
}

.dynagrid-delete > i, .dynagrid-submit > i, .browse-btn > i, .fileinput-upload > i{
    display: none;
}

.dynagrid-submit-message + .dynagrid-submit-message {
    display: none;
}

button.dynagrid-delete {
  position: relative;
}
button.dynagrid-delete:after {
    content: "Remove";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c9302c;
}

.bootstrap-dialog-footer > .bootstrap-dialog-footer-buttons > .btn-default > span{
    display: none;
}
.bootstrap-dialog-footer > .bootstrap-dialog-footer-buttons > .btn-warning > span{
    display: none;
}

dd {
    overflow-wrap: break-word !important;
    white-space: normal !important;
}

.main-menu-item-header {
    color: #333;
    font-weight: bold;
    font-size: 120%;
    line-height: 1.5rem;
    margin: 15px 0px -10px 15px;
    cursor: default!important;
}

li.main-menu-item-header:hover, li.main-menu-img:hover {
    background: transparent !important;
}

li.main-menu-img{
    height: 0px;
    min-height: 30px;
    margin-top: 12px;
    cursor: default!important;
}

.truncated {
    width: 100px; /* can be overridden in-line */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:  nowrap;
}