/**
* This file is part of EBS-Core Breeding.
* EBS-Core Breeding is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* EBS-Core Breeding is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with EBS-Core Breeding.  If not, see <http://www.gnu.org/licenses/>
*/

.card{
        height: 100%;
        margin-left:140px;
        margin-top: 5px;
        padding: 30px;
}  
.box {
    position: relative;
    /*background: #ffffff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
    border-top:none;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    width: 100%;
}
.box-header.with-border {
    border-bottom: none;
}
.box-header > .box-tools {
    top: 10px;
}
.box-header {
    padding-left: 15px;
}
.box-body {
    padding: 0px 15px 10px 15px;
    max-height: 800px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.summary{
    padding-top : 15px;
    padding-right: 5px !important;
}
.panel-default{
    margin : 0px;
}
.panel-footer{
    padding-bottom : 5px;
}

.parent-box{
    margin: 0px;
    padding: 0px !important;
}
.pull-right{
    margin-right: 3px;
}
.display-none{
    display: none;
}
.row{
    margin-bottom: 10px;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    margin: 0 0 5px 0;
}
input[type=text]:not(.browser-default),input[type=number]:not(.browser-default){
    height:2.5rem;
}
.tabular-icon{
    margin-left: 4px !important;
}
.tabular-btn{
    padding: 0 0.9rem 0 0.9rem;
}
.box-header.with-border {
    display: none;
}