/*
 * This file is part of EBS-Core Breeding.
 *
 * EBS-Core Breeding is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * EBS-Core Breeding is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with EBS-Core Breeding.  If not, see <http://www.gnu.org/licenses/>.
 */


/*
* Browser detail view css
*/

.browser-detail-view, .browser-grid-view {
	background: #fff;
}

.browser-detail-view-row{
	cursor: pointer !important;
}

.browser-detail-view-active{
	background-color: #deebff;
}

.browser-detail-view hr, .browser-grid-view hr, .browser-detail-view thead,  .load-more-panel thead{
	display: none !important;
}

.browser-detail-view .summary {
	display: none;
}

.browser-detail-view .table > tbody > tr > td {
	border-top: 1px solid #DFE1E6;
}

.record-code {
	margin: 0px 10px;
}

@media only screen and (max-width: 1275px){
	.record-type {
		display: none;
	}
}

@media only screen and (max-width: 1155px){
	.record-code {
		display: none;
	}
}

.record-status {
	width: 3px;
	height: 40px;
}
@media only screen and (max-width: 480px){
	.record-status {
		width: 98%;
		height: 5px;
	}
}

.record-status-td {
	padding: 3px 0px 3px 3px !important;
}

.browser-detail-view-more-info {
	padding-top: 5px;
	color: #707070;
}

.browser-detail-view-more-info, .browser-detail-view-main-info {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.browser-detail-view-basic-metadata {
	overflow: hidden;
	white-space: nowrap;
}

.browser-detail-view-main-info {
	padding-top: 2px;
}

#browser-detail-view-search-input {
	padding-left: 0.5rem;
}

#browser-detail-view-search-input::placeholder {
	color: #999;
	opacity: 1;
}

.no-margin {
	margin: 0;
}

.browser-detail-view-search-input-form {
	margin-top: -5px;
}

.browser-detail-view-search-input-form i {
	margin-top: 11px;
	font-size: 1.6rem !important;
}

.browser-detail-view-help-btn {
	right: 1.7rem !important;
	opacity: 0.4;
}

.browser-detail-view-submit-btn {
	right:0 !important;
}

.browser-detail-view-clear-all-search-btn {
	right: 1.7rem !important;
	opacity: 0;
}

.browser-detail-view-help-attributes {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	margin-top: 6px;
}

.browser-detail-view-browser-container, .browser-detail-view-main-filter-opts, 
.browser-detail-view-main-filters, .browser-detail-view-viewer {
	display: table-cell;
	height: inherit;
	vertical-align: top;
}

.browser-detail-view-panel {
	display: block;
	overflow: hidden !important;
	position: relative;
}

.browser-detail-view-container {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.browser-detail-view-container-wrapper {
	height: inherit;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	padding-left: 10px;
}

.browser-detail-view-main-filters-group, .browser-detail-view-viewer-panel,
.browser-detail-view-viewer-inner{
	height: inherit;
}

.categories-scrollview {
	height: inherit;
	overflow-y: auto;
	padding-bottom: 25px;
}

/* main filter options*/
.browser-detail-view-main-filter-item {
	width: 20px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
	line-height: 16px;
}

.browser-detail-view-main-filter-item-text {
	display: inline-block;
	-moz-transform: translate(20px, 0) rotate(90deg);
	-ms-transform: translate(20px, 0) rotate(90deg);
	-o-transform: translate(20px, 0) rotate(90deg);
	-webkit-transform: translate(20px, 0) rotate(90deg);
	transform: translate(20px, 0) rotate(90deg); 
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0; 
	white-space: nowrap;
	margin: 10px 0;
}

.browser-detail-view-main-filter-item-text:after {
	content: "";
	float: left;
	margin-top: 100%;
}

.browser-detail-view-main-filter-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.browser-detail-view-main-filter-opts {
	width: 20px;
}

ul.browser-detail-view-main-filter-items:first-child {
	margin-top: -8px;
}

.browser-detail-view-main-filters {
	width: 220px;
}

.browser-detail-view-main-filters-header {
	padding: 0px 0px 5px 20px
}

.browser-detail-view-main-filters-header span{
	text-transform: uppercase;
	font-weight: 600;
	line-height: 16px;
}

.browser-detail-view-main-filters-close i,
.browser-detail-view-viewer-close i {
	font-size: 140%;
	font-weight: 600;
}

.detail-view-close-button, .primary-button {
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}

.detail-view-close-button:hover, .primary-button:hover {
	background-color: #f0f0f0;
}

.browser-detail-view-main-filters-close,
.browser-detail-view-viewer-close {
	visibility: visible;
	display: table;
	float: right;
	cursor: pointer;
}

.category-item {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.category-item:hover {
	background-color: #f0f0f0 !important;
}

.category-item-inner {
	padding: 10px 8px 10px 20px; 
}

.body-container {
	background: #fff !important;
}

.category-item-expander {
	cursor: pointer;
	height: 20px;
	left: 0;
	position: absolute;
	top: 4px;
	width: 19px;
}

.category-item-expander i {
	font-size: 150%;
	padding-top: 4px;
	visibility: hidden;
}

.category-item:hover .category-item-expander i {
	visibility: visible;
}

.category-item.active {
	background-color: #deebff;
}

.category-item-details {
	display: none;
	padding: 10px 0px;
	margin-top: 10px;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
}

.category-detail-header, .category-detail-value {
	padding: 6px 0px;
}

.category-detail-header {
	font-weight: 600;
}

.category-item-header, .all-categories {
	font-weight: 500;
}

.details-row {
	margin-bottom: 5px !important;
}

.container {
	padding: 10px 0px 0px 15px !important;
}

.nav-extended ~.container {
	padding: 60px 0px 0px 15px !important;
}

.fixed-side-nav .container {
	padding: 55px 0px 0px 265px !important;
}

.fixed-side-nav .nav-extended ~.container {
	padding: 75px 0px 0px 265px !important;
}

.viewer-header {
	position: sticky;
	top: 0px;
}

.viewer-display-name h3 {
	font-size: 1.7rem;
	margin: 0rem 0 15px 0;
	font-weight: 500;
}

.viewer-label, .progress-label {
	font-weight: 700;
}

.browser-detail-view-viewer-inner {
	margin-left: 15px;
}

.viewer-detail-item {
	margin-bottom: 10px;
}

.viewer-status {
	margin: 0.6rem 0 0.6rem 0;
}

.for-small-screen {
	display: none;
}

.for-wide-screen {
	display: block;
}

.detail-view-total-count {
	color: #777;
	margin-top: 25px;
}

@media only screen and (max-width: 991px){
	.for-small-screen {
		display: block;
	}

	.for-wide-screen {
		display: none;
	}

	.detail-view-total-count {
		margin-top: 0px;
	}
}

.viewer-status .badge.new {
	line-height: 2rem;
	font-size: 1rem;
	height: 2rem;
	letter-spacing: 0.02rem;
	font-weight: 700;
}

.margin-bottom {
	margin-bottom: 10px;
}

.viewer-body {
	height: inherit;
	overflow-y: auto;
	padding-bottom: 50px;
}

.no-padding-right {
	padding: 0px !important;
}

.margin-right {
	margin-right: 5px;
}

.margin-right-big {
	margin-right: 30px;
}

body {
	overflow-y: hidden !important;
}

.sub {
	color: #777;
	vertical-align: baseline;
	font-size: 90%;
	font-weight: normal;
}

.kv-panel-after {
	padding: 0px; 
	border-top: 0px; 
}

.panel-heading {
	display: none;
}

.viewer-fixed-header-buttons i.left, .detail-view-buttons i.left{
	margin-right: 0 !important;
}

.viewer-fixed-header-buttons .btn, .viewer-fixed-header-buttons .btn-flat, .detail-view-buttons .btn-flat{
	padding: 0 1rem !important;
	border-radius: 0px !important;
}

.viewer-fixed-header-code {
	font-size: 110%;
	font-weight: 700;
}

.no-right-margin .modal-body {
	padding: 10px 0px 10px 30px;
}

.no-right-margin .view-entity-content {
	padding-right: 0px;
}

.generic-instructions {
	display: none;
}

.browser-detail-view-generic-form .select2-container--krajee {
	margin-top: 10px;
}

.kv-fileinput-caption .file-caption-name{ 
	height:unset;
}

.file-input {
	margin: 0 20px 0px 10px !important;
}

.file-preview .fileinput-remove {
  top: 6px !important;
  right: 7px !important;
  line-height: 10px !important;
}

.file-error-message {
	border-radius: 2px !important;
	padding: 5px 10px !important;
}

.viewer-main-buttons .no-label{
	padding: 0 0rem 0 1rem !important;
}

.status-monitoring .progress{
	height: 10px !important;
}