/*
 * This file is part of EBS-Core Breeding.
 *
 * EBS-Core Breeding is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * EBS-Core Breeding is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with EBS-Core Breeding.  If not, see <http://www.gnu.org/licenses/>.
 */


.notification-badge {
    font-family: "Poppins", sans-serif;
    position: relative;
    right: 0px;
    top: -20px;
    color: #ffffff;
    background-color: #3f51b5;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 2px 5px;
}

#notifications-dropdown h5 {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
}

#notifications-dropdown li {
    padding: 8px 16px;
    font-size: 1rem;
}

#notifications-dropdown li > a {
    padding: 0;
    font-size: 1.1rem;
    font-weight: 300;
}

#notifications-dropdown li > a > span {
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

#notifications-dropdown li > time {
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 38px;
}

#notifications-dropdown li.divider {
    padding: 0;
}
.small {
    font-size: 1.0rem !important;
}
.icon-bg-circle {
    color: #fff;
    padding: .4rem;
    border-radius: 50%;
}
h6 {
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}
body{
    overflow-x: hidden;
}