/*
 * This file is part of EBS-Core Breeding.
 *
 * EBS-Core Breeding is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * EBS-Core Breeding is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with EBS-Core Breeding.  If not, see <http://www.gnu.org/licenses/>.
 */


.viewer-display-name h3 {
	font-size: 1.3rem;
	margin: 0rem 0 15px 0;
	font-weight: 500;
}

.viewer-label, .progress-label {
	font-weight: 700;
}

.browser-detail-view-viewer-inner {
	margin-left: 15px;
}

.viewer-detail-item {
	margin-bottom: 10px;
}

.viewer-status {
	margin: 0.6rem 0 0.6rem 0;
}

.for-small-screen {
	display: none;
}

.for-wide-screen {
	display: block;
}

.detail-view-total-count {
	color: #777;
	margin-top: 25px;
}

@media only screen and (max-width: 991px){
	.for-small-screen {
		display: block;
	}

	.for-wide-screen {
		display: none;
	}

	.detail-view-total-count {
		margin-top: 0px;
	}
}

.viewer-status .badge.new {
	line-height: 2rem;
	font-size: 1rem;
	height: 2rem;
	letter-spacing: 0.02rem;
	font-weight: 700;
}

.margin-bottom {
	margin-bottom: 10px;
}

.viewer-body {
	height: inherit;
	overflow-y: auto;
	padding-bottom: 50px;
}

.no-padding-right {
	padding: 0px !important;
}

.margin-right {
	margin-right: 5px;
}

.margin-right-big {
	margin-right: 30px;
}

.no-margin {
	margin: 0 !important;
}

.status-monitoring .progress{
	height: 10px !important;
}

.viewer-main-buttons .no-label{
	padding: 0 0rem 0 1rem !important;
}