/*
 * This file is part of EBS-Core Breeding.
 *
 * EBS-Core Breeding is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * EBS-Core Breeding is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.pattern-0 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-0" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 0 0 L 10 10 M 9 -1 L 11 1 M -1 9 L 1 11" stroke="%237cb5ec" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-0)" /></svg>');
  background-repeat: repeat;
}
.pattern-1 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-1" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 0 10 L 10 0 M -1 1 L 1 -1 M 9 11 L 11 9" stroke="%23434348" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-1)" /></svg>');
  background-repeat: repeat;
}

.pattern-2 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-2" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 3 0 L 3 10 M 8 0 L 8 10" stroke="%2390ed7d" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-2)" /></svg>');
  background-repeat: repeat;
}
.pattern-3 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-3" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 0 3 L 10 3 M 0 8 L 10 8" stroke="%23f7a35c" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-3)" /></svg>');
  background-repeat: repeat;
}
.pattern-4 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-4" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 0 3 L 5 3 L 5 0 M 5 10 L 5 7 L 10 7" stroke="%238085e9" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-4)" /></svg>');
  background-repeat: repeat;
}
.pattern-5 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-5" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 3 3 L 8 3 L 8 8 L 3 8 Z" stroke="%23f15c80" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-5)" /></svg>');
  background-repeat: repeat;
}
.pattern-6 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-6" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 5 5 m -4 0 a 4 4 0 1 1 8 0 a 4 4 0 1 1 -8 0" stroke="%23e4d354" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-6)" /></svg>');
  background-repeat: repeat;
}
.pattern-7 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-7" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 10 3 L 5 3 L 5 0 M 5 10 L 5 7 L 0 7" stroke="%232b908f" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-7)" /></svg>');
  background-repeat: repeat;
}

.pattern-8 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-8" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 2 5 L 5 2 L 8 5 L 5 8 Z" stroke="%23f45b5b" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-8)" /></svg>');
  background-repeat: repeat;
}

.pattern-9 {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><pattern id="highcharts-default-pattern-9" patternUnits="userSpaceOnUse" width="10" height="10"><path d="M 0 0 L 5 10 L 10 0" stroke="%2391e8e1" stroke-width="2"></path></pattern><rect x="0" y="0" width="10" height="10" fill="url(%23highcharts-default-pattern-9)" /></svg>');
  background-repeat: repeat;
}


